@{
    Layout = null;
}<!DOCTYPE html>
<html>
<head>
    <title>Jasmine Spec Runner</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="~/content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="~/content/jasmine/jasmine.css">
    <script src="~/scripts/vendor/jasmine.js"></script>
    <script src="~/scripts/vendor/jasmine-html.js"></script>

    <script src="~/scripts/vendor/angular.js"></script>
    <script src="~/scripts/vendor/angular-mocks.js"></script>
    <script src="~/scripts/vendor/angular-ui-router.js"></script>

    <!-- include source files here... -->
    <script src="~/scripts/app.js"></script>
    <script src="~/scripts/controllers.js"></script>

    <!-- include spec files here... -->
    <script src="~/scripts/controllersSpec.js"></script>

    <script>
        (function() {
            var jasmineEnv = jasmine.getEnv();
            jasmineEnv.updateInterval = 1000;

            var htmlReporter = new jasmine.HtmlReporter();

            jasmineEnv.addReporter(htmlReporter);

            jasmineEnv.specFilter = function(spec) {
                return htmlReporter.specFilter(spec);
            };

            var currentWindowOnload = window.onload;

            window.onload = function() {
                if (currentWindowOnload) {
                    currentWindowOnload();
                }
                execJasmine();
            };

            function execJasmine() {
                jasmineEnv.execute();
            }

        })();
    </script>
</head>
<body>
</body>
</html>
