@{
    PageData["title"] = "AngularJS SPA | Sign In";
}
<div class="row">
    <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="login(userName, password)">
        <h2 class="text-center">Sign In</h2>
        <div class="form-box">
            <div class="form-group">
                <input ng-model="userName" type="text" class="form-control" placeholder="Username or Email" required autofocus />
            </div>
            <div class="form-group">
                <input ng-model="password" type="password" class="form-control" placeholder="Password" required />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" ng-disabled="!(userName && password)" disabled>Sign In</button>
            </div>
        </div>
    </form>
</div>